PORT=3333
NODE_ENV=development

# Chave secreta de autenticação JWT
JWT_SECRET=geopb_comunidades_secret_key_2026
JWT_EXPIRES_IN=1d

# Banco Relacional (PostgreSQL via Docker Compose)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app

# Banco Orientado a Documentos (MongoDB via Docker Compose)
MONGO_URI=mongodb://admin:admin@localhost:27017/geopb?authSource=admin

# Cache de Alta Performance (Redis via Docker Compose)
REDIS_URL=redis://localhost:6379

# Banco de Dados em Grafo (Neo4j via Docker Compose)
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password