# Configurações de Ambiente da API GeoPB Comunidades

PORT=3333
NODE_ENV=production

# Chave secreta de autenticação JWT
JWT_SECRET=geopb_comunidades_secret_key_2026
JWT_EXPIRES_IN=1d

# Banco Relacional (PostgreSQL / SQLite fallback)
DATABASE_URL=postgres://usuario:senha@localhost:5432/projeto_final

# Banco Orientado a Documentos (MongoDB - Audit Logs)
MONGO_URI=mongodb://localhost:27017/geopb

# Cache de Alta Performance (Redis - Sessões e GeoJSON)
REDIS_URL=redis://localhost:6379

# Banco de Dados em Grafo (Neo4j)
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
